---
layout: default
title: Лиенакс
description: Пиптидный восстановительный, противовоспалительный лосьон "ЛИЕНАКС" с заживляющим и омолаживающим эффектом.
---
<main>

  {% include main.html %}

  <section class="section" id="instructions">
    <div class="card">
      {% include menu.html %}
      <div class="card-content">
        <div class="content">
          <h1>Инструкция на "Лиенакс"</h1>
          <p>
            Инструкция по косметическому и лечебному применению пептидного восстановительного, противовоспалительного
            лосьона "ЛИЕНАКС" с заживляющим и омолаживающим эффектом, 100 мл.
          </p>
          <p>
            Лосьон "ЛИЕНАКС" ( lienis от лат. – селезенка ) официально зарегистрирован как косметическое средство
            (лосьон) для неограниченного применения.
          </p>

          <h2>Описание</h2>
          <p>
            Лосьон, прозрачный, практически бесцветный, без ароматизаторов.
          </p>

          <h2>Состав</h2>
          <p>
            Вода очищенная (ВО), рН 5.8÷6.8 (физиологический рН нормальной кожи). Пропиленгликоль пищевой - Е1520
            (пенетрант и консервант). Очищенные толерогенные природные регуляторные пептиды (Тимозин β-4, Протимозин-α,
            Паратимозин). Не содержит иных консервантов. Пептидный состав контролируется с использованием
            хромато-масс-спектрометрии.
          </p>

          <h2 id="description">Фармакодинамика. Обоснование физиологического действия.</h2>
          <p>
          Лосьон "Лиенакс" - это революционное средство для восстановления повреждённых мягких тканей и преодоления
          воспалительных процессов в организме основанное на действии Тимозина β-4, которые воздействуют не на
          лимфоциты, как считалось ранее, а на дендритные клетки (в коже – дендритные клетки Лангерганса), которые
          являются первичной биологической мишенью, и далее управляют сложным противовоспалительным механизмом.
        </p>
        <p>
          При накожном применении лосьона в присутствии пропиленгликоля (пенетранта) тимозины проникают в эпидермис,
          воздействуют на дендритные клетки Лангерганса и направляют их на толерогенный путь дифференцировки. Далее
          клетки Лангерганса естественным путем мигрируют в ближайшие лимфоузлы и "обучают" незрелые стволовые Тnaiv
          лимфоциты, превращая их в Т-регуляторы (Foxp3+T-reg-cells), которые системно и специфически нормализуют
          иммунитет без побочных явлений. По существу ЛИЕНАКС реализует врожденное свойство клеток Лангерганса
          препятствовать возникновению аутоиммунного ответа при ожогах и кожных травмах.
        </p>
          <p>
            ЛИЕНАКС – результат 5-летних научных исследований и испытаний на добровольцах, проведенных учеными из НИИВС
            им. И.И.Мечникова и нашими коллегами из Вестфальского университета (Мюнстер, Германия). [Wixler V, Zaytsev
            IZ, et al. Mol Ther. 2022 Feb 2;30(2):745-762. doi: 10.1016/j.ymthe.2021.08.030
            https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8821926/]
          </p>
          <p>
            Показано, что в присутствии пропиленгликоля (пенетранта) тимозины проникают в эпидермис, воздействуют на
            дендритные клетки Лангерганса и направляют их на толерогенный (противовоспалительный) путь дифференцировки.
            Далее клетки Лангерганса естественным путем мигрируют в ближайшие лимфоузлы и "обучают" Т-naĩv лимфоциты,
            превращая их в Т-регуляторы (Foxp3+T-reg-cells), которые системно нормализуют иммунитет. В лосьоне
            реализуется врожденное свойство клеток Лангерганса в сочетании с тимозинами препятствовать развитию
            аутоиммунных реакций при ожогах и травмах.
          </p>
          <p>
            Наши исследования также показали, что искусственные аналоги тимозинов работают на порядок слабее натуральных
            (публикация направлена в печать). По этой причине впервые разработана технология получения в неограниченных
            количествах высокоочищенных природных тимозинов.
          </p>
          <p>
            Также нами показано достаточное системное действие тимозинов путем накожного нанесения. Это чрезвычайно
            важно для исключения побочных явлений при длительном применении.
          </p>

          <h2 id="use">Показания к применению</h2>
          <p>
            Пиптидный восстановительный, противовоспалительный лосьон "ЛИЕНАКС" с заживляющим и омолаживающим эффектом
            по своим свойствам и составу предназначен для восстановления молодого здорового состояния кожи и других
            мягких тканей, излечивания широкого круга аутоиммунно-воспалительных заболеваний: артрита, подагры,
            спондилоартрита, дерматита, воспалений связок и сосудов (в т.ч. при варикозе 1 и 2 стадии), простатита и
            геморроя благодаря целевым свойствам пиптидов ( Тимозин β-4, Протимозин-α, Паратимозин) входящих в состав
            лосьона.
          </p>

          <h2>Способ применения и дозы.</h2>
          <p>
            Нанесите лосьон на ладонь (без избытка) и растирайте лосьон на лице (в т.ч. на веках), шее, декольте до
            заушных ямок , на кистях рук, пупочную ямку а также на других проблемных участках тела до полного впитывания
            дважды в день. Используйте лосьон до достижения очевидного результата. Для ускорения действия допускается
            сублингвальное применения (по две-четыре порции в день под язык). Физиологический эффект по мере применения
            нарастает и остается стабильным на длительный срок. Первые позитивные ощущения становятся заметными, начиная
            с 10-15-го дня. В отличие от известных косметических средств, тимозины лосьона "ЛИЕНАКС" действуют медленно,
            по механизму восстановления гомеостаза. Эффект передозирования отсутствует.
          <blockquote>
            <strong>ВНИМАНИЕ!</strong> Наносите лосьон только на чистую кожу. Через 20 минут после полного впитывания
            пептидов, можно пользоваться косметическими и лечебными гелями, кремами и мазями. <strong>При наличии ссадин
              или порезов ощущается временное жжение.</strong>
          </blockquote>
          </p>

          <h2>Противопоказания</h2>
          <p>
            Противопоказания за период 5-летнего экспериментального применения не выявлены. До настоящего времени случаи
            непереносимости не зарегистрированы. Для проверки переносимости нанесите две порции на запястье, разотрите и
            наблюдайте 3-4 часа. Не должно быть сыпи, покраснения и раздражения.
          <blockquote>
            <strong>ВНИМАНИЕ!</strong> Действие лосьона не исследовали при беременности и в период лактации.
          </blockquote>
          </p>

          <h2>Побочные действия</h2>
          <p>
            Побочные эффекты не были обнаружены в течение регулярного 5-летнего экспериментального применения в т.ч. при
            ежедневном применении.
          </p>

          <h2>Взаимодействие с лекарственными средствами</h2>
          <p>
            Лосьон сочетается с любыми лекарственными средствами. Это обусловлено тем, что пептиды не поступают в
            кровоток и не взаимодействуют с лекарственными веществами в организме. В сочетании с обезболивающими и
            противовоспалительными средствами (НПВС, ГКС, антиметаболиты, моноклональные антитела и др.), их можно
            применять одновременно с лосьоном при медленном контролируемом снижении дозировки (до полной их отмены), не
            прекращая использование лосьона.
          </p>

          <h2>Аналоги</h2>
          <p>
            Адекватные аналоги отсутствуют.
          </p>
          <p>
            Проведенный нами элементный анализ других "пептидных" лекарственных средств (ЛС), БАДов и экстрактов из
            мозга, тимуса, печени, легкого, мышц, сосудов и хрящей с помощью хромато-масс-спектрометрии показал, что все
            они содержат те же вездесущие тимозины, что и ЛИЕНАКС, но отличаются от него лишь невысоким удельным
            содержание тимозинов (от 10% до 25%). Остальной состав – фрагменты клеточных белков. <strong>Удельное
              содержание тимозинов в лосьоне "ЛИЕНАКС" составляет 80%</strong>.
          </p>

          <h2>Срок годности</h2>
          <p>
            Хранить при температуре <strong>+5 ÷ +25°С</strong>, избегая прямого солнечного света. Срок годности:
            <strong>12 мес(?24 мес)</strong>. Срок годности после начала использования не изменяется. Дата изготовления
            указана на индивидуальной упаковке.
          </p>
          
        </div>
      </div>
    </div>
  </section>

  <section class="section" id="certificates">
    <div class="container">
      <div class="content">
        <h2 id="provider">Производитель</h2>
        <p>
          Изготовитель/Организация, уполномоченная за принятие претензий от потребителя: <a href="https://bioservice.ru/">АО БТК "Биосервис"</a>, 109089, Россия, г. Москва, ул. Угрешская, дом 2, стр.76, этаж 4, пом. 12. Декларация о соответствии: ЕАЭС № RU Д-RU.РА05.В.78340/23, ГОСТ 31679-2012; МКС 71.100.70; от 2013-07-01
        </p>
        <p>"Лиенакс" прошел лабораторные и клинические аттестационные испытания в сертификационном центре АНО "Парфюмтест". По их результатам лосьону были присвоены государственные реквизиты: ГОСТ 31679-2012; МКС 71.100.70; Декларация о соответствии № еаэс N RU Д-RU.РА05.В.78340/23.
        </p>
        <h2>Закрепление результатов</h2>
        <p>
          Для предотвращения возобновления системного воспаления, во время и после курса омоложения, необходимо исключить из рациона провокаторы аутоиммунного воспаления. См. раздел «Единое противовоспалительное питание - ЕПВП».
          </p>
      </div>
    </div>
  </section>

</main>
