<aside class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-three-fifths is-offset-one-fifth">
				<div class="content has-text-centered">
					<h1 class="title is-size-4">Подпишитесь на нас в социальных сетях</h1>
					<p class="subtitle is-size-5">Делимся интересной и полезной информацией о том, как тимозины
						помогают
						сохранять здоровье, поддерживать иммунитет и оказывать омолаживающие действие</p>
				</div>
			</div>
		</div><br><br>

		<div class="columns">

			<div class="column is-flex">
				<article class="media notification has-background-info-light">
					<figure class="media-left">
						<span class="icon has-text-info">
							<i class="fas fab fa-2x fa-vk"></i>
						</span>
					</figure>
					<div class="media-content">
						<h1 class="title is-size-4">Вконтакте</h1>
						<p class="is-size-5">
							О здоровье и тимозинах — простым и понятным языком
						</p>
					</div>
				</article>
			</div>

			<div class="column is-flex">
				<article class="media notification has-background-warning-light">
					<figure class="media-left">
						<span class="icon has-text-danger">
							<i class="fas fab fa-2x fa-yandex"></i>
						</span>
					</figure>
					<div class="media-content ">
						<div class="content">
							<h1 class="title is-size-4">Яндекс.Дзен</h1>
							<p class="is-size-5">
								О тимозинах для профессионалов. Делимся новостями науки, тонкостями законодательства
								и опытом исследователей со всего мира
							</p>
						</div>
					</div>
				</article>
			</div>

			<div class="column is-flex">
				<article class="media notification has-background-link-light">
					<figure class="media-left">
						<span class="icon has-text-link">
							<i class="fas fab fa-2x fa-telegram"></i>
						</span>
					</figure>
					<div class="media-content">
						<h1 class="title is-size-4">Телеграм</h1>
						<p class="is-size-5">
							Подробно о том, при каких проблемах со здоровьем помогают тимозины
						</p>
					</div>
				</article>
			</div>

		</div>
	</div>
</aside>