<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <link rel="icon" href="/favicon.png" type="image/png">

  <!-- .Yandex.Metrika counter -->
  <script type="text/javascript" src="/assets/js/yandexMetrika.js"></script>
  <noscript>
    <div><img src="https://mc.yandex.ru/watch/100154617" style="position:absolute; left:-9999px;" alt="" /></div>
  </noscript>
  <!-- /.Yandex.Metrika counter -->
  <script type="text/javascript" src="/assets/js/navbarBurger.js"></script>
  <script type="text/javascript" src="/assets/js/deleteNotify.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"> -->
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css'>
  <!-- <link rel="stylesheet" href="/assets/css/debug.css"> -->
  <!-- <link rel="stylesheet" href="/assets/css/helpers.css"> -->
</head>