<section class="section" id="main">
  <div class="card">
  <div class="card-content">
  <div class="media is-fullwidth">
    <figure class="media-left">
      <p class="image">
        <iframe
          class="has-ratio"
          width="320"
          height="180"
          src="/assets/images/lienax.jpg"
          frameborder="0"
          allowfullscreen>
          </iframe>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <h3>Лиенакс</h3>
        <br />
        <p>
          подходит для всех типов кожи, восстановление повреждённых мягких тканей с противовоспалительным эффектом.
        </p>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
