<section class="media" id="main">
  <figure class="media-left">
    <p class="image is-128x128">
      <img src="/assets/images/lienax.jpg" />
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Лиенакс</strong> <small>подходит для всех типов кожи, восстановление повреждённых мягких тканей с противовоспалительным эффектом.</small>
        <br />
        Лосьон "Лиенакс" - это революционное средство для восстановления повреждённых мягких тканей и преодоления воспалительных процессов в организме основанное на действии Тимозина β-4, которые воздействуют не на лимфоциты, как считалось ранее, а на дендритные клетки (в коже – дендритные клетки Лангерганса), которые являются первичной биологической мишенью, и далее управляют сложным противовоспалительным механизмом.

При накожном применении лосьона в присутствии пропиленгликоля (пенетранта) тимозины проникают в эпидермис, воздействуют на дендритные клетки Лангерганса и направляют их на толерогенный путь дифференцировки. Далее клетки Лангерганса естественным путем мигрируют в ближайшие лимфоузлы и "обучают" незрелые стволовые Тnaiv лимфоциты, превращая их в Т-регуляторы (Foxp3+T-reg-cells), которые системно и специфически нормализуют иммунитет без побочных явлений. По существу ЛИЕНАКС реализует врожденное свойство клеток Лангерганса препятствовать возникновению аутоиммунного ответа при ожогах и кожных травмах.
      </p>
    </div>
</section>
