<nav class="navbar is-fixed-top">
	<div class="navbar-brand">
		<b class="title navbar-item">ЛИЕНАКС</b>
		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>
	<div class="navbar-menu" id="navMenu">
		<div class="navbar-start"></div>
		<div class="navbar-end">
			<span class="navbar-item"><a href="/about">О тимозинах</a></span>
			<div class="navbar-item has-dropdown is-hoverable">
				<span class="navbar-item"><a>Продукция </a>
					<span class="icon is-small">
						<i class="fa fa-angle-down"></i>
					</span>
				</span>

				<div class="navbar-dropdown ">
					<a class="navbar-item" href="https://lienax.ru">Лиенакс</a>
					<a class="navbar-item" href="/instruction">Инструкция</a>
				</div>
			</div>
			<span class="navbar-item"><a href="/questions">Вопросы и ответы</a></span>
			<span class="navbar-item"><a href="/blog">Полезные статьи</a></span>
			<span class="navbar-item"><a href="/publications">Научные публикации</a></span>
			<span class="navbar-item"><a href="/nutrition">Питание</a></span>
		</div>
	</div>
</nav>