<!DOCTYPE html>
<html lang="ru">
{% include head.html %}

<body class="has-navbar-fixed-top">
  {% include nav.html %}
  {{ content }}

  <!-- Yandex.Metrika informer -->
  <a href="https://metrika.yandex.ru/stat/?id=100154617&amp;from=informer" target="_blank" rel="nofollow"><img
      src="https://informer.yandex.ru/informer/100154617/2_1_B9B9FFFF_9999FFFF_0_pageviews"
      style="width:80px; height:31px; border:0;" alt="Яндекс.Метрика"
      title="Яндекс.Метрика: данные за сегодня (просмотры)" class="ym-advanced-informer" data-cid="100154617"
      data-lang="ru" /></a>
  <!-- /Yandex.Metrika informer -->
  <a href="https://webmaster.yandex.ru/siteinfo/?site=lienax.ru">
    <img width="88" height="31" alt="" border="0" border-radius="8" src="https://yandex.ru/cycounter?lienax.ru&theme=light&lang=ru"/>
  </a>
</body>

</html>