---
layout: base
---
<section class="hero is-medium has-background-link-light">
    <div class="hero-body">
        <div class="columns is-centered">
            <div class="column is-10">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <h1 class=" has-text-link">
                                Инструкция на "Лиенакс"
                            </h1>
                            <p>Инструкция по косметическому и лечебному применению пептидного
                                восстановительного,
                                противовоспалительного
                                лосьона "ЛИЕНАКС" с заживляющим и омолаживающим эффектом, 100 мл.</p><br><br>
                            <div class="tabs is-toggle is-toggle-rounded is-centered">

                                <ul>
                                    {% for item in site.data.instruction %}
                                    <li {% if page.url==item.link %} class="is-active"  {% endif %}>
                                        <a href="{{ item.link }}">{{ item.name }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <article class="content">
                            <h1>{{ page.description }}</h1><br>
                            {{ content }}                            
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>